.tcdl{
    margin: 60px;
    border: black 0px;
    text-align: center;
    color: antiquewhite;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
}
.qdl{
    margin: 60px;
    border: black 0px;
    text-align: center;
    color: antiquewhite;
}
.qzc{
    margin: 60px;
    border: black 0px;
    text-align: center;
    color: antiquewhite;
}
.sctp{
    margin: 60px;
    border: black 0px;
    text-align: left;
    color: antiquewhite;
}